.text {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    word-wrap: break-word;
    font-size: medium;
}

.text--primary {
    color: #002884;
}

.text--secondary {
    color: black;
}

.text--small {
    font-size: small;
}

.text--smaller {
    font-size: smaller;
}

.text--medium {
    font-size: medium;
}

.text--large {
    font-size: x-large;
}